@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
body {
    background: hsl(233, 47%, 7%);
}

.card {
    width: 1440px;
    height: 446px;
    background: hsl(244, 38%, 16%);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}
.card__info {
    width: 720px;
    height: auto;
    position: relative;
    float: left;
    padding: 100px;
}
.card__info__header {
    margin-bottom: 30px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}
.card__info__header__title mark {
    background: none;
    color: hsl(277, 64%, 61%);
}
.card__info__text p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}
.card__info__stats {
    position: relative;
    overflow: hidden;
    margin-top: 100px;
}
.card__info__stats__stat {
    width: calc(100% / 3);
    float: left;
    position: relative;
}
.card__info__stats__value {
    color: hsl(0, 0%, 100%);
}
.card__info__stats__stat__title {
    color: hsla(0, 0%, 100%, 0.6);
}
.card__image {
    width: 720px;
    height: 446px;
    background-image: url('../images/image-header-desktop.jpg');
    background-size: cover;
    position: relative;
    float: right;
    overflow: hidden;
}
.card__image::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsla(277, 64%, 61%, .5);
    position: absolute;
}
@media (max-width: 500px) {
    .card {
        width: 375px;
        height: auto;
    }
    .card__image {
        width: 100%;
        height: 275px;
        background-image: url('../images/image-header-mobile.jpg');
    }
    .card__info {
        width: 375px;
        height: auto;
        padding: 20px;
    }
    .card__info__stats__stat {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}